* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #6161b2;
  color: #ffffff;
}
#palindrome-container{
  width: min(100vw,500px);
  min-height: 130px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  padding: 30px;
  border-radius: 20px;
}
#palindrome-definition-div{
  width: min(100%,500px);
  background-color: orange;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 25px;
  display: flex;
  gap: 5px;
}
#text-input{
  border: 0px;
  border-bottom: 2px solid rgb(3, 3, 108);
  width: 200px;
}
#check-btn{
  font-size: 1.1rem;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(3, 3, 108);
  color: white;
  border: none;
  cursor: pointer;
}
label{
  font-size: 1.5rem;
  margin-bottom: 30px;
}
h1{
  font-size: 3rem;
}
p{
  color: rgb(29, 27, 27);
}